<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<meta http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate">

<meta http-equiv="Pragma"
      content="no-cache">

<meta http-equiv="Expires"
      content="0">

<title>Scanning...</title>

<link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="loading-page">

    <div class="loading-card">

        <h1>

            🛡 WebShield Scanner

        </h1>

        <p>

            Scanning website vulnerabilities...

        </p>

        <!-- PROGRESS -->

        <div class="progress-container">

            <div class="progress-bar"
                 id="progressBar">

                0%

            </div>

        </div>

        <!-- STATUS -->

        <div class="loading-status"
             id="loadingStatus">

            Initializing Scan...

        </div>

    </div>

</div>

<script>

if(sessionStorage.getItem("scanCompleted")){

    window.location.replace("/");

}

let progress = 0;

const progressBar =
document.getElementById("progressBar");

const loadingStatus =
document.getElementById("loadingStatus");

const messages = [

    "Initializing Scan...",

    "Checking Security Headers...",

    "Analyzing HTTPS Protection...",

    "Testing XSS Protection...",

    "Scanning Vulnerabilities...",

    "Generating Final Report..."
];

let index = 0;

const interval = setInterval(() => {

    progress += 2;

    progressBar.style.width =
    progress + "%";

    progressBar.innerHTML =
    progress + "%";

    if(progress % 20 === 0 &&
       index < messages.length){

        loadingStatus.innerHTML =
        messages[index];

        index++;
    }

    if(progress >= 100){

        clearInterval(interval);

        sessionStorage.setItem(
            "scanCompleted",
            "true"
        );

        window.location.replace("/result");
    }

}, 80);

window.addEventListener(

    "pageshow",

    function(event){

        if(event.persisted){

            window.location.replace("/");
        }
    }
);

</script>

</body>
</html>