<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login - WebShield</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="auth-page">

    <div class="auth-card">

        <h1>

            Welcome Back

        </h1>

        <p>

            Login to continue using WebShield

        </p>

        <form action="/login-user"
              method="POST">

            <input type="email"
                   name="email"
                   placeholder="Enter Email"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Enter Password"
                   required>

            <button type="submit">

                Login

            </button>

        </form>

        <div class="auth-link">

            Don't have an account?

            <a href="/signup">

                Register

            </a>

        </div>

    </div>

</div>

</body>
</html>